/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Protest+Riot&display=swap');

/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation */
.navbar {
    background-color: #247BA0;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #70C1B3;
}

.logo span {
    color: #F25F5C;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #70C1B3;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Home Section */
.home-section {
    padding: 100px 0;
    text-align: center;
}

.home-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* About Section */
.about-section {
    padding: 100px 0;
}

.resume {
    /* Add styles for resume content */
}

/* Skills Section */
.skills-section {
    padding: 100px 0;
}

/* Portfolio Section */
.portfolio-section {
    padding: 100px 0;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    scroll-snap-align: start;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Contact Section */
.contact-section {
    padding: 100px 0;
}